body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f8f9fa;
  font-family: "Inter", sans-serif;
}
.mainContent {
  max-width: 500px;
}
.card {
  width: 100%;
  max-width: 600px;
  padding: 20px;
  border-radius: 10px;
}

.card .formTitle {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 20px;
  color: black;
}
input::placeholder {
  color: #d4d4d4 !important;
}
.error {
  color: red;
  font-size: 14px;
}
.error-message {
  color: #ff5e5e;
  font-size: 0.875em;
  display: none;
}
.btnColor {
  background: #6c6efb;
  border-radius: 5px !important;
}
.submitBtn {
  background: #568afb;
}
.flagArea {
  justify-content: space-between;
}
.flag {
  background: #d9d9d9;
  border-radius: 5px;
  width: 50%;
}
.details {
  width: 45%;
}
.details p {
  font-size: 10px;
  margin-bottom: 3px;
}
.FlagBg {
  background: #f8f8f8;
}
.flag img {
  width: 100%;
  height: 100%;
}
.mainCard h5 {
  color: #515151;
  font-weight: bold;
  font-size: 18px;
}
