body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f8f9fa;
  font-family: "Inter", sans-serif;
}
.card {
  width: 100%;
  max-width: 600px;
  padding: 20px;
  border-radius: 10px;
}

.card .formTitle {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 20px;
  color: black;
}
.error {
  color: red;
  font-size: 14px;
}
